#element_1618842744087 {
	text-align: justify;
	font-size: 18px;
}
#element_1618849631885 {
	text-align: justify;
}
#element_1618842745820 {
	text-align: justify;
}
#element_1618842744130 {
	text-align: justify;
	font-size: 18px;
}
#element_1618832361928 {
	font-size: 50px;
	color: #61c0bf;
}
#element_1618842743457 {
	font-size: 50px;
}
#element_1618842744133 {
	font-size: 50px;
}
#element_1618842746771 {
	font-size: 50px;
}
#element_1618849631963 {
	font-size: 50px;
}
#element_1618842743729 {
	font-size: 24px;
}
#element_1618842743745 {
	color: #61c0bf;
}
#module-layouts-1--2 > section.section-7.p-t-50.p-b-50.edit.safe-mode.nodrop > div.container > div.row > div.col-12.col-lg-12.col-xl-10.mx-auto > div.row > div.m-b-40.col-sm-6.col-lg-4.cloneable > .card.shadow-sm {
	background-color: #fae3d9;
}
#module-layouts-1--4 > section.section-13.edit.safe-mode.nodrop > div.d-flex.w-100.background-image-holder.p-t-90.p-b-90.element > div.container.align-self-centerx.element > div.row.element > div.col-12.col-xl-12.mx-auto.text-center > div.row.element > div.icon-holder.col-12.col-sm-3.mx-auto.cloneable.element > h6 {
	background-color: rgba(0,0,0,0);
	background-image: none;
	color: #000000;
}
#module-layouts-1--4 > section.section-13.edit.safe-mode.nodrop > div.d-flex.w-100.background-image-holder.p-t-90.p-b-90.element > div.container.align-self-centerx.element > div.row.element > div.col-12.col-xl-12.mx-auto.text-center > div.row.element > div.icon-holder.col-12.col-sm-3.mx-auto.cloneable.element > h6 > .safe-element {
	color: #000000;
}
#element_1620227229589 {
	color: #61c0bf;
	text-align: justify;
}
#element_1620227229396 {
	color: #61c0bf;
	text-align: justify;
}
#element_1620227229394 {
	text-align: justify;
}
#element_1620227229401 {
	text-align: justify;
}
#element_1620227229455 {
	text-align: justify;
}
#element_1620227229406 {
	text-align: justify;
}
#dlp-item-1620227229695 {
	text-align: justify;
}
#element_1620774306799 {
	text-align: justify;
}
#element_1620774408153 {
	text-align: justify;
}
.edit[field="content"][rel="content"] {
	text-align: justify;
}
#element_1620774408159 {
	text-align: justify;
}
#btn-module-layouts-1--7-btn {
	background-color: #61c0bf;
	border: 1px none #111;
}
#module-layouts-1--7-btn {
	border: 1px none #61c0bf;
}
#btn-module-layouts-1--8-btn {
	border: 1px none #111;
	background-color: #61c0bf;
}
#element_1622128563425 {
	font-size: 16px;
	color: #000000;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	line-height: ;
	background-position: 0% 0%;
	background-color: rgba(171,148,148,0);
	background-image: none;
	word-spacing: 0px;
	letter-spacing: ;
	text-transform: none;
	margin-top: 0px;
	padding-top: -100px;
}
#element_1622128563425 > b {
	font-size: 20px;
	text-align: center;
	line-height: ;
	font-style: oblique;
}
#element_1622128563425 > b > span {
	margin-top: ;
	padding-top: ;
	font-size: 20px;
}
#element_1622128563425 > span > b {
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	line-height: ;
	font-size: 14px;
}
#layouts-20210527152024 > section.section-2.js-header-transparent.p-t-0.p-b-0.edit.safe-mode.nodrop > div.background-image-holder.d-flex.w-100.justify-content-center.element > .container.d-flex.justify-content-center.align-items-center.element {
	background-color: rgba(202,115,114,0);
}
#payment-gateway-list > li {
	text-align: left;
	font-style: normal;
	letter-spacing: 0px;
	background-size: auto;
}
#module-layouts-1--4 > section.section-13.safe-mode.nodrop > .d-flex.w-100.background-image-holder.feature-skin-6.p-t-90.p-b-90 {
	background-image: url(https://littlenewfield.com/userfiles/media/default/21063003075860dc88ce48ae5bg-new.jpeg);
}
.edit[field="layout-features-skin-12-deygcvbfh"][rel="content"] {
	text-align: justify;
}
.edit[field="layout-features-skin-12-gfdeygfh"][rel="content"] {
	text-align: justify;
}
.edit[field="layout-features-skin-12-ddcvfgbeygfh"][rel="content"] {
	text-align: justify;
}
.edit[field="layout-features-skin-12-rty"][rel="content"] {
	text-align: justify;
}
.edit[field="layout-features-skin-12-sdgf"][rel="content"] {
	text-align: justify;
}
.edit[field="layout-features-skin-12-deygfbvh"][rel="content"] {
	text-align: justify;
}
#element_1625934918591 {
	text-align: left;
	font-size: 18px;
	line-height: 36px;
	word-spacing: 0px;
	letter-spacing: 0px;
	padding-top: 0px;
	margin-top: -25px;
}
#element_1625934918370 {
	font-size: 18px;
	line-height: 45px;
	margin-top: -25px;
	text-transform: none;
	color: #000000;
	word-spacing: 0px;
	letter-spacing: 0px;
}
#payment-gateway-list > div {
	font-size: 10px;
	text-align: left;
}
#cart-checkout-shop-payments {
	color: #000000;
}
#module-shop-products-2 > div.module-shop-products > div.row.shop-products > div.col-12.col-md-6.col-lg-4.col-xl-4.item-256 > div.product > div.m-t-20 > div.row > div.col-12.price-holder > div.product-tax-text > span {
	color: #61c0bf;
}
#element_1627418326626 {
	text-align: center;
}
#element_1627418326736 > li {
	text-align: center;
}
#element_1627418693587 {
	background-color: #fffefe;
}
#element_1627824417559 {
	text-align: center;
}
#element_1627824417560 {
	text-align: center;
}
#element_1627824417561 {
	text-align: center;
}
.edit[field="term_modal_content"][rel="content"] {
	text-align: center;
}
#element_1628532706034 {
	padding-bottom: 50px;
}
#element_1628842433255 {
	text-align: center;
	font-size: 16px;
	background-position: 50% 0%;
	padding-right: ;
	margin-right: ;
	margin-left: 450px;
	background-size: auto;
}
#footer_menu > .menu_3.first-child.child-0.menu-item-id-9.menu-item-parent-3 {
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 15px;
}
#element_1630998797767 > div.edit.nodrop.safe-mode.element > div.row.element > .col-md-6.focus-visible.element {
	text-align: left;
	padding-top: 0px;
}
#element_1630998797767 > div.edit.nodrop.safe-mode.element > div.row.element > .col-md-6.text-right.element {
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.edit[field="footer-main-wrapper"][rel="content"] {
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 15px;
}
#element_1630998797766 {
	font-size: 12px;
}
#element_1631002287834 {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 350px;
}
#element_1631002287836 {
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 0px;
	margin-right: -310px;
	text-align: right;
	padding-bottom: 0px;
	margin-top: -1px;
	margin-bottom: 0px;
}
#element_1631002287837 {
	text-align: left;
	margin-left: -115px;
	font-size: 11px;
}
#element_1631002288557 {
	text-align: left;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: -307px;
	font-size: 8px;
}
#element_1631002287845 {
	padding-left: 0px;
	padding-right: 0px;
	background-position: 0% 0%;
	font-size: 11px;
	text-align: center;
	font-weight: 400;
	padding-bottom: 0px;
	margin-left: -78px;
	margin-right: 0px;
	opacity: 1;
	line-height: 12px;
}
#element_1631000379616 {
	margin-bottom: -15px;
	margin-top: -20px;
}
.edit[field="text_edit95"][rel="content"] {
	padding-right: 0px;
	padding-bottom: 0px;
}
#element_1631008778258 {
	text-align: left;
}
#element_1631008778173 {
	line-height: 16px;
	text-align: left;
	background-size: auto;
	background-position: 0% 0%;
	opacity: 1;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
#element_1631008778261 {
	padding-left: ;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#element_1631008778889 {
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 0px;
	margin-right: ;
}
#element_1631008780427 {
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	margin-left: 0px;
}
#element_1631008778255 {
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}
