.product-tax-text {
    font-size: 14px;
    text-align: center;
}

.product-tax-text .edit {
    display: inline-block;
}

.product-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.product-wishlist {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-wishlist-inner {}

.select2-container {
    width: 110px !important;
}

.wishlist-logo {
    margin-right: 10px;
    color: red;
    font-size: 20px;
}


/* .product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.wishlist-popup {
    position: absolute;
    top: 10px;
    left: 10px;
}


.wishlist-popup span {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}

/* Mahbub CSS Start */
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #28a745;
    -webkit-clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;

}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}


.shipping-sys h2 {
    margin-top: 0 !important;
}

.checkout-box-shadow-style {
    -webkit-box-shadow: 0 0 6px 0px #b9e4ff;
    box-shadow: 0 0 6px 0px #b9e4ff;
    padding: 10px;
    border: 1px solid #ecf1f5;
    border-radius: 5px;
}

/* Start */
.add-border {
    border: 1px solid #ecf1f5;
    padding: 14px;
    border-radius: 5px;
}

/* End */
/* Mahbub CSS End */
.mw-cats-menu li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: rgb(33, 33, 33);
    position: relative;
    text-decoration: none !important;
    word-break: break-word;
}

.mw-cats-menu li button {
    background-color: transparent !important;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 8px;
}

.mw-cats-menu li button span {
    font-size: 16px;
    padding: 3px;
}

#delete_sss {
    margin-right: 10px;
}

#delete_sss span {
    color: red;
}

#edit_sss span {
    color: green;
}


.sidebar-custom-style {
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 0 2px 0px #dcdcdc;
    box-shadow: 0 0 2px 0px #dcdcdc;
    padding: 10px;
}

.login-modal {
    margin-top: 10px;
}

.btn-cart a {
    display: inline-block;
    position: relative;
}

.btn-cart .cart-icon {
    font-size: 25px !important;
}

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}


#checkout-product .product-item {
    margin-bottom: 20px;
}

#checkout-product .item-title a {
    color: #666666 !important;
    font-weight: 600 !important;
}

#checkout-product .item-action a {
    color: red !important;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

.mw-cart-table-product-info {
    font-size: 14px;
}

#to-top span {
    color: #fff;
}

.product-inner-wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.add-cart-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px !important;
}


.related-product .cust-btn {
    color: red;
    border: 1px solid #333;
    padding: 5px 10px;
    /* background: green; */
    border-radius: 5px;
    font-size: 20px !important;
    position: absolute;
    content: "";
    left: 26px;
    top: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.related-product .product-label {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: #222222;
    color: #ffffff;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    right: 26px;
    top: 8px;
    font-weight: bold;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.related-product .toggle-content {
    top: 55px;
    left: 25px;
}

.checkout-checkbox {
    margin-bottom: 20px;
}

.item-cart {
    margin-top: 10px;
}

.fieldset {
    margin-bottom: 20px;
}

.cell-shipping-country .shipping-country-select {
    width: 50%;
    margin-left: auto;
}

.discount-button {
    margin-top: 10px;
}

.mw-cart-table-product-info span {
    white-space: nowrap;
}

.product-cart-icon:hover,
.product-quickcheckout-icon:hover {
    background-color: #fff;
}

.product-cart-icon:hover span,
.product-quickcheckout-icon:hover span {
    color: #007bff;
}

.shop-products .product h3 {
    color: #000 !important;
}

.share_input-text {
    margin-bottom: 20px;
}


.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn {
    background-color: #309bff !important;
    border: 1px solid #309bff !important;
    color: #fff !important;
}

.mw-shop-checkout-personal-info-holder .btn:hover,
.discount-button .btn:hover {
    background-color: #0082fc !important;
    color: #fff !important;
    border: 1px solid #0082fc !important;
}

.member-nav>.dropdown>.dropdown-menu {
    width: 160px;
}

.member-nav>.dropdown>.dropdown-menu {
    margin-top: 22px !important;
}


.member-nav .btn-cart i {
    font-size: 16px !important;
}

nav.navigation li a {
    border-radius: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

span.select2-selection.select2-selection--multiple {
    max-height: 60px;
    overflow: auto;
}

.item-cart {
    flex-direction: column;
}

.select2-results__option {
    word-wrap: break-word;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    white-space: normal !important;
    word-break: break-word !important;
    padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    height: 100%;
}

.mw-cart-item td .mw-order-item-image {
    height: 70px !important;
}

.customize-modal {
    width: 55% !important;
}


table.mw-cart-table th {
    font-size: 12px;
}

table.mw-cart-table th:first-child {
    width: 80px !important;
}

table.mw-cart-table td img {
    width: 100%;
    height: auto;
}

table.mw-cart-table td:first-child {
    padding: 5px !important;
    vertical-align: middle !important;
}

table.mw-cart-table td {
    vertical-align: middle !important;
    font-size: 12px;
    line-height: 20px !important;
}

table.mw-cart-table td.mw-cart-table-product {
    text-align: left;
}


#cartModal .modal-dialog {
    max-width: 640px !important;
}


.btn-search {
    background-color: #000 !important;
    padding: 7px 10px !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.btn-search i {
    margin: 0 !important;
    color: #fff !important;
}

.search .dropdown-menu {
    width: 200px !important;
    padding-left: 5px;
    transform: translate3d(0px, 0px, 0px) !important;
    top: 26px !important;
}


.search-header-form button {
    background-color: #555555 !important;
    margin-left: 5px;
}

.member-nav .dropdown-menu:before {
    z-index: -1 !important;
}


/* Cart Bumbs */
.cart-bumbs-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;

}


.cart-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}


.cart-bumbs-product-description .price span {
    font-size: 18px !important;
}

.cart-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.cart-bumbs {

    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 10px;
    margin: 15px 0;

}

.cart-bumbs-product-photo {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cart-bumbs-product-description {
    text-align: center;
}

.cart-bumbs-product-photo .image {
    height: 100% !important;
    width: 100% !important;
    border: 0px !important;
    display: flex;
    justify-content: flex-start;
}

.cart-products-amount {
    margin-top: 20px;
}

.cart-bumbs-product-description .price {
    margin: 10px 0;
}


/* Checkout Bumbs */

.checkout-bumbs-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;

}


.checkout-bumbs-product-photo .image {
    height: 100% !important;
    width: 100% !important;
    border: 0px !important;
}

.checkout-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}


.checkout-bumbs-product-description .price span {
    font-size: 18px !important;
}

.checkout-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.checkout-bumbs {
    margin-top: 25px;
}

.checkout-bumbs .shop-products {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 10px;
    width: 70%;
    margin: 0 auto;

}

.checkout-bumbs-product-photo {
    margin-bottom: 20px;
}

.checkout-bumbs-product-description {
    text-align: center;
}


.checkout-bumbs-product-description .price {
    margin: 10px 0;
}
