#element_1618832361928 {
	color: #61c0bf;
	text-align: center;
	font-size: 50px;
}
#module-layouts-1--2 > section.section-7.p-t-50.p-b-50.edit.safe-mode.nodrop > div.container > div.row > div.col-12.col-lg-12.col-xl-10.mx-auto > div.row > div.m-b-40.col-sm-6.col-lg-4.cloneable > .card.shadow-sm {
	background-color: #fae3d9;
}
#element_1618832362170 {
	color: #61c0bf;
	text-align: center;
}
#element_1618832362375 {
	color: #61c0bf;
	text-align: center;
}
#element_1618832366227 {
	color: #61c0bf;
	text-align: center;
}
#element_1618832366233 {
	color: #61c0bf;
}
#element_1618832366237 {
	color: #61c0bf;
	text-align: center;
}
#element_1618832366252 {
	color: #61c0bf;
	text-align: center;
}
#element_1618832365931 {
	color: #61c0bf;
}
#module-layouts-1--4 > section.section-13.edit.safe-mode.nodrop > .d-flex.w-100.background-image-holder.p-t-90.p-b-90.element {
	background-image: url(undefined);
}
#module-layouts-1--4 > section.section-13.edit.safe-mode.nodrop > div.d-flex.w-100.background-image-holder.p-t-90.p-b-90.element > div.container.align-self-centerx > div.row > div.col-12.col-xl-12.mx-auto.text-center > div.row > div.icon-holder.col-12.col-sm-3.mx-auto.cloneable > h6 {
	background-color: rgba(0,0,0,0);
	background-image: none;
	color: #000000;
}
#element_1618842743745 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618842744023 {
	color: #61c0bf;
}
#element_1618842743457 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618842744133 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618842746771 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618842745820 {
	text-align: justify;
	font-size: 20px;
}
.edit[field="layout-partners-skin-2-module-layouts-1--19"][rel="module"] {
	background-color: #e23535;
	background-image: url(undefined);
}
#element_1618849631910 {
	color: #61c0bf;
}
#element_1618842746754 {
	color: #61c0bf;
}
#element_1618849631963 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618910248237 {
	color: #61c0bf;
}
#element_1618848981227 {
	text-align: left;
}
#element_1618915199818 {
	color: #61c0bf;
	font-size: 50px;
}
#element_1618832362383 {
	text-align: center;
}
#element_1618832362320 {
	text-align: center;
}
#element_1618832362317 {
	text-align: center;
}
#element_1618832366239 {
	text-align: center;
}
#element_1618832365900 {
	text-align: center;
}
#element_1618916382416 {
	text-align: center;
}
#element_1618832366232 {
	text-align: center;
}
#element_1618849631885 {
	text-align: justify;
	font-size: 20px;
}
#btn-module-layouts-1--7-btn {
	background-color: #61c0bf;
	border: 1px solid #61c0bf;
}
#btn-module-layouts-1--8-btn {
	background-color: #61c0bf;
	border: 1px solid #fefffe;
	color: #ffffff;
}
#module-layouts-1--8-btn {
	border: 1px solid #fefffe;
}
#btn-module-layouts-1--10-btn {
	color: #ffffff;
	background-color: #61c0bf;
	border: 1px none #111;
	text-align: center;
}
#module-layouts-1--10-btn {
	background-color: #fefffe;
	text-align: left;
}
#btn-module-layouts-1--11-btn {
	background-color: #61c0bf;
	border: 1px none #111;
}
.edit[field="layout-info-blocks-skin-2-module-layouts-1--11"][rel="module"] {
	border: 1px none #61c0bf;
}
#module-layouts-1--4 > section.section-13.edit.safe-mode.nodrop > div.d-flex.w-100.background-image-holder.p-t-90.p-b-90.element > div.container.align-self-centerx.element > div.row.element > div.col-12.col-xl-12.mx-auto.text-center > div.row.element > div.icon-holder.col-12.col-sm-3.mx-auto.cloneable.element > h6 {
	font-size: 24px;
}
#element_1618842743729 {
	font-size: 24px;
}
#element_1618842744087 {
	font-size: 20px;
	text-align: justify;
}
#element_1618842744130 {
	font-size: 20px;
	text-align: justify;
}
.edit[field="content"][rel="content"] {
	text-align: justify;
}
#element_1620227229396 {
	font-size: 16px;
	color: #61c0bf;
}
#element_1620227229589 {
	color: #61c0bf;
}
#element_1620227229653 {
	font-size: 18px;
}
